.headerUp{
    background-color: white;
}
.wrapperHeaderUp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.headerDown{
    background-color: #0040BD;
}
.wrapperPhone{
    display: flex;
    align-items: center;
    margin: 0;
}
.basket{
    margin-left: 10px;
}
.badge span{
    color: white;
    font-size: 0.75rem;
    background-color: #f44336;
    border: 2px solid #f44336;
    padding: 0 4px
}
@media screen and (max-width: 680px) {
    .wrapperHeaderUp{
        padding: 5px 0;
        justify-content: center;
    }
}
