.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    width: 1000px;
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.wrapperButton{
    display: flex;
    justify-content: center;
}
@media (max-width: 1100px) {
    .text {
       width: 100%;
       padding: 0 20px;
    }
}
@media (max-width: 550px) {
    .logo{
        display: none;
    }
    .about{
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
    .text{
        text-align: center;
        padding: 0
    }
}
