.wrapper{
    margin: 20px 0;
}

.list {
    list-style: none;
}

@media (max-width: 600px) {
    .list {
        margin: 0;
        padding: 0;
    }
    .subContainer{
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}
