.form {
    display: flex;
    flex-direction: column;
    height: 115px;
}
.label {
    margin-bottom: 10px;
    font-weight: bold;
}
.error {
    color: #f44336;
    margin-top: 5px;
}
.form input {
    height: 35px;
}
