.wrapper {
    margin: 20px 0;
}
.blockImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    max-width: 450px;
    max-height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
}

.blockInfoName {
    font-size: 28px;
}

.blockCost {
    display: flex;
    margin: 5px 0;
    align-items: center;
}

.number {
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    color: #0040BD;
    letter-spacing: 2px;
}

.place {
    margin: 5px 0;
    color: black;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
}

.selectorBlock {
    margin-left: 10px;
}

.wrapperTabs {
    margin: 40px 0;
}

.blockAddCart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.qrt {
    margin-left: 20px;
    height: 40px;
    width: 70px;
    font-size: 25px;
    text-align: center;
}

.errorMessage {
    color: red;
    font-weight: bold;
}
