.wrapper {
    display: flex;
    justify-content: flex-start;
    min-height: 100px;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.wrapperBlock a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #0040BD;
}

.wrapperImg {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperImg img {
    max-height: 70px;
    max-width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
}

.blockPriceAndDelete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapperBlock {
    flex: 1;
}

.price {
    width: 200px;
    font-weight: 500;
    font-size: 15px;
}

@media (max-width: 800px) {
    .wrapper {
        justify-content: center;
    }
    .wrapperBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 180px;
        justify-content: space-around;
    }
    .blockPriceAndDelete {
        flex-direction: column;
        justify-content: center;
    }
    .price{
        text-align: center;
        margin: 10px 0;
    }
}
