.root{
    flex-grow: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}
.wrapperTabs{
    color: rgba(0,0,0,0.87);
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.tabsWrapper{
    margin: 20px 0 !important;
    width: 100% !important;
}
.tabsBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.tableTh {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}

.tableTd {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}

.tableTr:hover tableTd {
    background: #e8edff;
}

.tableTr:nth-child(2n) {
    background: #e8edff;
}
