.wrapper{
    margin: 20px 0;
}
.subtotalItem{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info {
    height: 50px;
    text-align: center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

@media (max-width: 800px) {
    .wrapperItems{
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}
