.block {
    margin: 40px 0;
}
.titleText {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0040BD;
    margin-bottom: 10px;
}
.text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
