.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    cursor: pointer;
    height: 160px;
    min-width: 180px;
}
.wrapper:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);;
}
.img{
    max-height: 85px;
    max-width: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.title{
    margin: 10px 0;
    padding: 0 10px;
    font-size: 15px;
}
.blockCost{
    display: flex;
    margin: 5px 0;
    align-items: center;
    flex-wrap: wrap;
}
.price{
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    color: #0040BD;
    letter-spacing: 2px;
}
