.wrapper{
    margin: 20px 0;
}
.wrapperImg{
    height: 300px;
    background-color: aqua;

}
.serf{
    height: 600px;
    background-color: aqua;
}
.wrapperImg{
    height: 300px;
    background: url("../../../public/static/images/about.jpg") no-repeat center center fixed;

}
.shadow{
    background-color: rgba(0,0,0, 0.3);
    width: 100%;
    height: 300px;
}
.textInfo{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}
