.title{
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    color: #0040BD;
}
.img {
    width: 100%;
}
.logo{
    width: 165px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
