.wrapperText {
    padding: 0 20px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.text {
    text-align: left;
    min-width: 150px;
    font-weight: 600;
    font-size: 16px;
}
