.root{
    flex-grow: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}
.wrapperTabs{
    color: rgba(0,0,0,0.87);
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.tabsWrapper{
    margin: 30px 0 !important;
    width: 100% !important;
    min-height: 250px;
}
.tabsBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blockWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.image {
    height: 220px;
    width: 85%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.text {
    display: flex;
    height: 100%;
    width: 85%;
    line-height: 22px;
}
.tabButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 !important;
}
