.wrapper{
    margin: 20px 0;
}
.wrapperImg{
    height: 300px;
    background: url("../../../public/static/images/dizayn_ofisa_2_06233927.jpg") no-repeat bottom center fixed;
}
.shadow{
    background-color: rgba(0,0,0, 0.3);
    width: 100%;
    height: 300px;
}
.wrapperInfo{
    margin: 10px 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapperMap {
    margin-bottom: 70px;
}
