.wrapperSlider div {
    height: 450px;
    margin-bottom: 20px;
}
.wrapperButton{
    display: flex;
    justify-content: center;
}

@media (max-width: 550px) {
    .slider{
        display: none;
    }
}

