.cart{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart div {
    justify-content: center;
}
.cart div div {
    max-width: 100%;
    padding: 10px;
}
.cars{
    height: 300px;
    width: 250px;
}
