.list {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.list p {
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

.list:hover {
    background-color: #C8E3FF;
    border-radius: 5px;
}

.active {
    background-color: #C8E3FF;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .list {
        width: 100%;
    }
}
