.menu *:focus,.menu *::before,.menu *::after {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: content-box; /*это свойство обязательно*/
}
.menu ul {
    height: 45px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.menu li {
    font-size: 13px;
    text-align: center;
}
.menu li:hover {
    border-bottom: 1px solid white;
}
.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 920px) {
    .ad-menu li {
        width: 49.5%;
    }
}
/*поведения и структура при экране менее 680 пикселей*/
@media screen and (max-width: 680px) {
    .menu li {
        width: 100%;
        margin: 15px 0;
    }
    .menu ul {
        display: none;
    }
    .menu nav::before,
    .menu::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAwCAMAAAA8VkqRAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAE5JREFUeAFjwAkYcQC6SFAKBt4fo/6AaMMUQTUQIYJpFaqrMIICzkATR2Hi5uDUjmkh7tDAHUq4Qw8ujl+CsFEEHDVowg1n1OJKDLiTDwBLrgJ9vkuXOwAAAABJRU5ErkJggg==);
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
    .menu nav::before,
    .menu::after {
        background-color: white;
        border: 9px solid white;
    }
    .menu::after {
        background-position: -24px -24px;
        z-index: 1;
    }
    .menu nav::before {
        z-index: 2;
    }
    .menu nav:focus::before {
        z-index: 0;
    }
    .menu nav:focus ul,
    .menu ul:hover { /*решаем проблему со скликиванием*/
        display: block;
        height: 100%;
    }
}
