.footer{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    border-top: 1px solid black;
}
.wrapper{
    width: 65%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.copyright {
    font-size: 12px;
}
@media (max-width: 500px) {
    .wrapper {
        justify-content: center;
    }
    .wrapper p {
        margin-top: 10px;
        order: 1;
    }
    .container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
