.button{
    width: 190px;
    height: 45px;
    background-color: #0040BD;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 64, 189, .3);
    transition: .3s;
    cursor: pointer;
}
.button:hover {
    background: #4a76f9;
    box-shadow: 0 15px 20px rgba(0, 62, 243, .4);
    color: white;
    transform: translateY(-7px);
}
.button:focus, .button:active {
    box-shadow: none !important;
    border: none;
    outline: none;
}
.button:disabled {
    opacity: 0.3;
}
