.wrapper{
    margin: 5px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 130px;
    justify-content: space-around;
    min-width: 150px;
}
.wrapper:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);;
}
.img{

}
.img img {
    max-width: 130px;
    max-height: 80px;
    background-size: contain;
}
.text{
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
    font-weight: bold;
}
