.root{
    flex-grow: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}
.wrapperTabs{
    margin-bottom: 20px;
    color: rgba(0,0,0,0.87);
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

