.info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.title{
    text-align: center;
    font-weight: 900;
    color: #0040BD;
    font-size: 25px;
}
@media (max-width: 350px) {
    .title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .slider{
        display: none;
    }
    .title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}
